Repository khaihernlow/studywat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend, deploy_frontend

deploy_backend:
  stage: deploy
  image: python:3.12
  before_script:
  - pip install --upgrade pip
  - pip install awscli
  script:
  - cd backend
  - mkdir -p lambda_build/src
  ...

deploy_frontend:
  stage: deploy
  image: node:20
  before_script:
  - npm install -g vite
  - npm install -g aws-cli
  script:
  - cd frontend
  - npm ci
  - npm run build
  - aws s3 sync dist/ s3://$S3_BUCKET_NAME/ --delete

pipeline run 4
  .gitlab-ci.yml
  backend/src/main.py
Due: deploy_backend

pipeline frontend test1
  .gitlab-ci.yml
  backend/src/main.py
  frontend/src/index.css
Due: deploy_backend, deploy_frontend

pipeline frontend test2
  .gitlab-ci.yml
  frontend/src/components/ProfileCard.tsx
Due: deploy_frontend

pipeline frontend test3
  .gitlab-ci.yml
  frontend/src/pages/Chat.tsx
Due: deploy_frontend

pipeline frontend test4
  .gitlab-ci.yml
  frontend/src/pages/Profile.tsx
Due: deploy_frontend

pipeline frontend test5
  .gitlab-ci.yml
  frontend/src/main.tsx
Due: deploy_frontend

pipeline frontend test6
  .gitlab-ci.yml
  frontend/src/App.tsx
Due: deploy_frontend

pipeline frontend test7
  .gitlab-ci.yml
  frontend/src/App.css
Due: deploy_frontend

pipeline frontend test8
  .gitlab-ci.yml
  backend/src/main.py
  frontend/src/pages/Chat.tsx
Due: deploy_backend, deploy_frontend

pipeline frontend test9
  frontend/tsconfig.app.json
Due: deploy_frontend

enable support for no-streaming
  .gitlab-ci.yml
  backend/src/api/v1/orchestrator.py
  backend/src/services/conversation_service.py
  frontend/src/pages/Chat.tsx
Due: deploy_backend, deploy_frontend

fixed unused values for npm build
  frontend/src/pages/Chat.tsx
Due: deploy_frontend

testing cloudfront invalidation
  .gitlab-ci.yml
Due: none

mobile sidebar bug
  frontend/src/components/AppSidebar.tsx
  frontend/src/components/ui/sidebar.tsx
Due: deploy_frontend

fixed header
  frontend/src/components/Layout.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/pages/Chat.tsx
Due: deploy_frontend

implemented the 'ask' feature
  backend/src/models/pydantic/profile.py
  backend/src/services/evaluation_service.py
  frontend/src/components/Layout.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Profile.tsx
Due: deploy_backend, deploy_frontend

courses recommendations
  backend/src/api/v1/profile.py
  backend/src/api/v1/recommendation.py
  backend/src/main.py
  backend/src/models/pydantic/profile.py
  backend/src/resources/field_of_study.txt
  backend/src/services/orchestrator_service.py
  backend/src/services/profile_service.py
  backend/src/services/recommendation_service.py
  frontend/src/App.tsx
  frontend/src/components/CourseSuggestions.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/index.css
  frontend/src/lib/courseMetadata.ts
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/services/profileApi.ts
Due: deploy_backend, deploy_frontend

improve recommendation prompt
  backend/src/services/recommendation_service.py
Due: deploy_backend

fixed deploy-frontend rules
  .gitlab-ci.yml
Due: none

pages title + favicon
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/vite.svg
  frontend/src/contexts/PageTitleContext.tsx
  frontend/src/pages/Login.tsx
Due: deploy_frontend

auth token refreshes
  backend/src/api/v1/auth.py
  frontend/src/components/CourseSuggestions.tsx
  frontend/src/components/ProgramResultCard.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/University.tsx
  frontend/src/services/institutionsApi.ts
  frontend/src/services/profileApi.ts
  frontend/src/services/programLists.ts
  frontend/src/services/programsApi.ts
Due: deploy_backend, deploy_frontend

removed authRequest
  frontend/src/services/institutionsApi.ts
Due: deploy_frontend

google adsense
  frontend/index.html
Due: deploy_frontend

landing page
  frontend/src/App.tsx
  frontend/src/assets/landing_cover.png
  frontend/src/assets/white_wall.jpg
  frontend/src/index.css
  frontend/src/pages/Home.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/Login.tsx
  frontend/tailwind.config.js
Due: deploy_frontend

fixed unused vars
  frontend/src/components/NavUser.tsx
Due: deploy_frontend

migrated to vialing mongodb account
  backend/scripts/scraping/load_institution_program.py
  backend/scripts/scraping/load_vectors.py
  backend/src/api/v1/institution.py
  backend/src/api/v1/program.py
Due: deploy_backend

Enhance README with project details and documentation
  README.md
Due: none

Update README with deployment notice
  README.md
Due: none

Added architecture image for README
  docs/studywat_architecture_diagram.png
Due: none

Path conditions:
  deploy_backend: any of: backend/**/*
  deploy_frontend: any of: frontend/**/*
